@model OrderManagement.Models.CartList
@{
    ViewBag.Title = "Cart";
}

<h2>My Cart List</h2>

<div>
    <button asp-controller="Order" asp-action="AddOrder" class="btn login100-form-btn">Placed Order</button>
</div>





